manifest {
    homePage = 'https://github.com/iarcbioinfo/alignment-nf'
    description = 'align fastq or realign BAM files for Whole Exome/Whole Genome sequencing data'
    mainScript = 'alignment.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { 
    docker.enabled = true 
    process.container = 'iarcbioinfo/alignment-nf'
  }
  singularity { 
    singularity.enabled = true 
    process.container = 'iarcbioinfo/alignment-nf'
  }
}

process {
    process.container = 'iarcbioinfo/alignment-nf:dev'
    shell =  ['/bin/bash','-o','pipefail']
}

params.output_folder="."


timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/alignment-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/alignment-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/alignment-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/alignment-nf_dag.html"
}
